.aboutImage {
    object-fit: cover;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.titleText {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}